@use "sass:math";

@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

@mixin editor-color-palette($slug, $color) {
  .has-#{$slug}-color {
    color: $color;
  }

  .has-#{$slug}-background-color {
    background-color: $color;
  }

  .has-#{$slug}-border-color {
    border-color: $color;
  }
}
