.popbox-image{
  position: relative;
  margin-top: -265px;
  margin-bottom: 87px;

  .popbox{
    @include media-breakpoint-up(lg){
      padding: 70px 50px;
    }
  }

  .top-image{
    display: block;
    margin: 0 auto;
    @include media-breakpoint-down(sm){
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .row{
    row-gap: 30px;
    img{
      max-width: 100%;
      height: 125px;
      margin-bottom: 20px;
    }

    h3{
      color: $text;
      margin-bottom: 0;
    }

    span{
      display: block;
      font-size: toRem(21);
      font-weight: 500;
      margin-bottom: 15px;

      @include media-breakpoint-up(lg){
        font-size: toRem(24);
        margin-bottom: 25px;
      }
    }
  }
}