.top-banner{
  position: relative;
  display: block;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 65px;

  @include media-breakpoint-up(lg){
    padding-top: 100px;
  }
  
  .logo{
    max-width: 100%;
    height: 250px;
    object-fit: contain;
  }

  h1{
    margin-bottom: 25px;

    @include media-breakpoint-up(lg){
      margin-bottom: 50px;
    }
  }

  p.sub-heading{
    max-width: 680px;
    text-align: center;
    font-size: toRem(18);
    margin: 0 auto 50px;

    @include media-breakpoint-up(lg){
      font-size: toRem(24);
      margin-bottom: 75px;
    }
  }

  .popbox{
    padding: 30px 40px;
    color: $text;
    @include media-breakpoint-up(lg){
      padding: 35px 55px;
    }

    h3{
      font-size: toRem(34);
      color: $text;
      margin-bottom: 0;
      @include media-breakpoint-up(lg){
        font-size: toRem(48);
      }
    }

    .content-list{
      row-gap: 25px;
    }

  }

  .cta-box{

    position: relative;
    padding: 150px 0px 180px;

    @include media-breakpoint-up(sm){
      padding: 0px 0px 75px;
    }

    .popbox{
      max-width: 600px;
      margin: 0 auto;

      a{
        position: relative;
        z-index: 10;
      }
    }

    h3{
      margin-bottom: 30px;
    }

    img{

      position: absolute;
  
      z-index: 1;
      height: 150px;

      @include media-breakpoint-up(lg){
        height: 250px;
      }

      @include media-breakpoint-up(xl){
        height: auto;
      }

      &:first-of-type{
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        bottom: unset;
        @include media-breakpoint-up(sm){
          left: 15px;
          transform: translate(0, 0);
          bottom: 0;
          top: unset;
        }
      }

      &:last-of-type{
        right: 50%;
        transform: translate(50%, 0);
        bottom: 0;
        @include media-breakpoint-up(sm){
          right: 15px;
          transform: translate(0%, 0);
        }
        
      }


    }

  }
}